<?xml version="1.0" encoding="utf-8"?>

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Internet connection -->
    <uses-permission
        android:name="android.permission.INTERNET" />

    <!-- Foreground service -->
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- Screen capture foreground service -->
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />

    <!-- Notifications -->
    <uses-permission
        android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:label="Extended Screen"
        android:theme="@style/AppTheme">

        <!-- Main screen -->
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>

                <action
                    android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>

        <!-- Host -->
        <activity
            android:name=".HostActivity" />

        <!-- Display -->
        <activity
            android:name=".DisplayActivity" />

        <!-- Screen capture service -->
        <service
            android:name=".ScreenCaptureService"
            android:exported="false"
            android:foregroundServiceType="mediaProjection" />

    </application>

</manifest>
